body, html {
	height: 100%;
}
body {
	background: #222;
	color: #FFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#scroll {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	padding-top: 60px;
}
iframe {
	border: 0;
}
.fullscreen {
	position: relative;
	text-align: center;
	min-height: 100%;
	margin-bottom: 100px;
}

.nav .badge {
	background-color: #d9534f;
}

.content {
	width: 1000px;
	margin: 0 auto;
	padding-top: 90px;
}
.content h1 {
	margin-top: 24px;
}
.label-depth {
	font-size: 22px;
}
.desc {
	width: 300px;
	margin: 17px auto;
}

.teaser {
	text-align: left;
	margin-bottom: 21px;
}
.teaser h1 {
	font-size: 54px;
}
.teaser p {
	font-family:"Courier New", Courier, monospace;
	font-size: 20px;
}
#header .content {
	padding-top: 0;
}
.header-img {
	margin: 0 auto;
	width: 1000px;
}

#nav {
	-webkit-transform: translateZ(0);
	position: fixed;
	right: 40px;
	top: 50%;
	margin-top: -50px;
	color: #F8FE40;
	font-size: 50px;
}
#nav div {
	width: 60px;
	opacity: 0.8;
	margin-bottom: 7px;
}

.jumbotron-header {
	position: relative;
	z-index: 30;
	width: 1000px;
	margin: 0 auto;
	background: none;
	color: #EEE;
}